<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3></h3>
        Edit Your Listing
    </h3>
    <form action="/listings" method="POST">
        <input name="listing[title]" value="<%= listing.title %>" />
        <br><br>
        <textarea name="listing[description]" value="<%= listing.description%>"></textarea>
        <br><br>
        <input name="listing[image]" value="<%= listing.image.url%>" />
        <br><br>
        <input type="number" name="listing[price]" value="<%= listing.price%>" />
        <br><br>
        <input name="listing[country]" value="<%=listing.country %>" type="text" />
        <br><br>
        <input name="listing[location]" value="<%= listing.country%>" type="text" />
<br><br>
        <button>Add</button>
    </form>
</body>
</html>